set default=0
set timeout=6
set timeout_style=menu
set gfxmode=1024x768x32

insmod all_video
insmod gfxterm
insmod png
insmod gfxmenu

terminal_input console
terminal_output gfxterm

set color_normal=cyan/black
set color_highlight=black/cyan
set menu_color_normal=cyan/black
set menu_color_highlight=black/cyan

set dew_root=
set dew_kernel=
search --no-floppy --file --set=dew_root /etc/dewos-installed

if [ -n "$dew_root" ]; then
    if [ -f ($dew_root)/boot/grub/grub.cfg ]; then
        set dew_kernel=/boot/grub/grub.cfg
    fi
fi

if [ -n "$dew_kernel" ]; then
    menuentry "DewOS" {
        set root="$dew_root"
        configfile /boot/grub/grub.cfg
    }
else
    menuentry "DewOS Live Installer" {
        set gfxpayload=1024x768x16,1024x768
        linux /boot/vmlinuz-dewos console=tty1 rdinit=/init quiet loglevel=0 vt.global_cursor_default=0 nokaslr dew.mode=installer
        initrd /boot/initramfs.cpio.gz
    }

    menuentry "DewOS Live" {
        set gfxpayload=1024x768x16,1024x768
        linux /boot/vmlinuz-dewos console=tty1 rdinit=/init quiet loglevel=0 vt.global_cursor_default=0 nokaslr dew.mode=live
        initrd /boot/initramfs.cpio.gz
    }

    menuentry "DewOS Live (Debug)" {
        set gfxpayload=text
        linux /boot/vmlinuz-dewos console=tty1 console=ttyS0,115200 earlyprintk=serial,ttyS0,115200 earlycon=uart,io,0x3f8,115200 rdinit=/init loglevel=7 vt.global_cursor_default=1 nomodeset nokaslr dew.mode=debug
        initrd /boot/initramfs.cpio.gz
    }
fi
